.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(#ff6f00, #ffc107);
}
.h1{
    font-size: 40px;
    color: yellow;
    margin: 7px;
    font-weight: bold;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -48px;
    margin-bottom: -48px;
    gap: 16px;
    font-weight:bold;
    color:black;
}
.button{
    background-color: #FFD700;
    color: #333;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
}
.button:hover{
    background-color:rgb(231, 68, 8);
}


@media (max-width: 768px){
    .header{
        flex-direction: column;
        text-align: center;
    }
    .h1{
        font-size: 32px;
    }
    .nav{
        margin-top: 0;
        margin-bottom: 0;
        gap: 12px;
    }
    .button{
        padding: 8px 16px;
        font-size: 14px;
    }
}


@media (max-width:480px){
    .h1{
       font-size: 24px;
    }
    .button{
        padding: 6px 12px;
        font-size: 15px;
    }
}