.footer{
    background: #333;
    padding: 20px;
    text-align: center;
    font-family: Arial,sans-serif;
}
.h3{
    margin-bottom: 10px;
    font-size: 25px;
}
.p{
    margin: 5px 0;
    font-size: 14px;
}